{% extends 'base/base.html' %}

{% block title %}О нас{% endblock %}

{% block content %}
<div class="row justify-content-center">
  <div>

    <div class="bg-dark text-white text-center py-5">
      <h1>О нас</h1>
    </div>

    <div class="container text-center my-5 card w-50">
      <div class="card-body justify-content-center">

        <p>
          Добро пожаловать на наш новостной сайт! Этот сайт был создан в 2024 году в рамках выполнения тестового
          задания для курса Промышленного программирования в Московской школе программистов.
        </p>
        <p>
          Мы стремимся предоставлять нашим пользователям самые актуальные и интересные новости, статьи и
          фотоматериалы. Наш сайт предлагает удобный интерфейс, позволяющий легко находить нужную информацию, а также
          предоставляет возможность регистрироваться и оставлять комментарии.
        </p>
        <p>
          Проект разработан Паламарчуком Ярославом Владимировичем.
        </p>
        <p>
          Если вас интересует исходный код проекта, вы можете ознакомиться с ним в GitHub репозитории:
        </p>
        <p class="text-center">
          <a href="https://github.com/palyaros02/shp_django" class="btn btn-outline-primary" target="_blank">Посетить
            GitHub проекта</a>
        </p>
        <p>
          Если у вас возникли вопросы или предложения, вы можете связаться с разработчиком через следующие каналы:
        </p>

        <ul class="list-group-flush">

          <li class="list-group-item">
            <strong>Email:</strong> <a href="mailto:palyaros02@mail.ru">palyaros02@mail.ru</a>
          </li>

          <li class="list-group-item">
            <strong>Telegram:</strong> <a href="https://t.me/pys02" target="_blank">@pys02</a>
          </li>

        </ul>

      </div>
    </div>

  </div>
</div>
{% endblock %}